* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 1024px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
}

img {
    cursor: pointer;
}

header {
    width: 5%;
    min-width: 65px;
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
    transition: all 0.25s;    
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h2 {
    font-size: 16px;
    line-height: 19px;
    color: #888888;
}

header button {
    all: unset;
    cursor: pointer;
}

header button + button {
    margin-top: 40px;
}

.menu-opcoes {
    display: flex;
    align-items: center;
}

.expandir-header {
    min-width: 200px;
    align-items: flex-start;
    z-index: 1;
    transition: all 0.25s;
}

.expandir-header .menu-opcoes {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.expandir-header .menu-opcoes img {
    margin-right: 20px;
}

.menu-opcoes .inicio {
    color: #FFFFFF;
}

main {
    margin: 5rem 0 0 4rem;
}

main h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imagem-wrapper {
    margin: 0 30px 40px 0;
    position: relative;
}

.imagem-wrapper img:first-of-type {
    position: absolute;
    top: 15px;
    right: 15px;
}

.imagem-info {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}

.imagem-info span:first-child {
    color: #000000;
}

.imagem-info span:last-child {
    color: #5C5C5C;
}

.escondido {
    display: none;
}

.modal {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.btn-fechar {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
}

.imagem-wrapper-modal {
    display: flex;
    flex-direction: row;
}

.imagem-wrapper-modal div {
    margin: 0 100px 0;
    position: relative;
}

.imagem-wrapper-modal div .imagem-gostei-modal {
    position: absolute;
    top: 15px;
    right: 15px;
}

.imagem-wrapper-modal .imagem-modal {
    width: 600px;
}
